<div class="wrapper">

  <div class="max-width">
    <div class="landing_s1 sections">
      <div class="flex-box_header">
        <div class="left-align">
          <h1 class="header-font"> Welcome Page </h1>
          <h3 class="subtitle"> Place holder Header / Description of the club </h3>
          <!--<div class="button1"> <p> Button Here Later </p> </div>-->
          <div class="button2"> <p> Button Here Later </p> </div>
        </div>
      </div>
    </div> <!--top Section-->

      <div class="landing_s2 sections">
      <div class="max-width-body">
        <h2> Informational Section Here </h2>
        <div class="flex-box flex3">
          <div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>

          <div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>

          <div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div> <!--flex-box flex3-->
        </div> <!--max-width-body-->
      </div>  <!--landing.s2-->

      <div class="landing_s3 sections">
      <div class="max-width-body">
        <h2> Let's Get in Contact </h2>
        <div class="flex-box flex2">
          <div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>

          <div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div> <!--flex-box flex2-->
        </div> <!--max-width-body-->
      </div> <!--landing.s3-->

    <div class="footer">
      <div class="flex-box flex4">
          <div class="icon"> </div>
          <div class="icon"> </div>
          <div class="icon"> </div>
          <div class="icon"> </div>
      </div> <!--flex-box flex4-->
    </div> <!--footer-->

  </div> <!--max-width-->
</div>  <!--wrapper-->
