<h1>Leaderboard</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <% @members.each do |member| %>
            <tr>
                <td><%= member.name %></td>
                <td><%= member.points %></td>
            </tr>
        <% end %>
    <tbody>
</table>